.spinner-overlay {
    position: absolute;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 9;

    .spinner-border {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: calc(50% - 1.5rem);
        left: calc(50% - 1.5rem);
    }
}

